<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>纯css气泡</title>
    <link rel="stylesheet" type="text/css" href="bubble.css">
</head>
<body>
	<a href="http://www.cnblogs.com/daxiong/articles/3158630.html" target="_blank">来自这里</a>

	<!-- 箭头向下 -->
	<div class="container">
		<div class="arrow-dowm">css3气泡框</div>
		<p class="text-center">这里箭头向下</p>
	</div>
	<!-- 箭头向上 -->
	<div class="container">
		<p class="text-center">这里箭头向上</p>
		<div class="arrow-up">css3气泡框</div>
	</div>
	<!-- 箭头向左 -->
	<div class="container">
		<div class="arrow-left">css3气泡框</div>
		<p class="text-center">这里箭头向左</p>
	</div>
	<!-- 箭头向右 -->
	<div class="container">
		<div class="arrow-right">css3气泡框</div>
		<p class="text-center">这里箭头向右</p>
	</div>
</body>
</html>