<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" />
</head>
<body ng-controller="watchController">
    <div class="container">
        <div class="form-group">
            <label for="" class="col-md-2">监听他</label>
            <div class="col-md-10">
                <input type="number" class="form-control" ng-model="targetInput" />
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../plugins/AngularJS/angular.min.js"></script>
    <script src="watch.js"></script>
</body>
</html>
