<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多元素水平居中</title>
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
    <ul class="father-div">
        <li class="sub-div">A</li>
        <li class="sub-div">B</li>
        <li class="sub-div">C</li>
        <li class="sub-div">D</li>
        <li class="sub-div">E</li>
        <li class="sub-div">F</li>
    </ul>

    <main>
        <div>A</div>
        <div>B</div>
        <div>C</div>
        <div>D</div>
    </main>
</body>
</html>