<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>箭头函数</title>
</head>
<body>
    <script type="text/javascript">
        // 1、箭头函数写法，当函数直接被return时，可以省略函数体的括号
        // const fn = (a, b) => a + b;
        // console.log(fn(1,2));
        // 2、如果箭头函数不需要参数或需要多个参数，就使用一个圆括号代表参数部分。
        // var sum = (num1, num2) => num1 + num2;
        // console.log(sum(3,4));
        // 3、与变量解构结合使用
        // const full = ({first, last}) => first + ' ' + last;
        // console.log(full({first: '邹', last: '宇绅'}));
        // // 等同于
        // function full(person) {
        //   return person.first + ' ' + person.last;
        // }
        const isEven = n => n % 2 == 0;
        const square
    </script>
</body>
</html>
