<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>symbol</title>
</head>
<body>
    <script type="text/javascript">
        /*
            Symbol总结
            1、新的原始数据类型，表示独一无二的值；
            2、Symbol值通过Symbol函数生成，可以接受一个字符串作为参数，表示对Symbol实例的描述（如果不加参数，它们在控制台的输出都是Symbol()，不利于区分。有了参数以后，就等于为它们加上了描述，输出的时候就能够分清，到底是哪一个值）；
            3、Symbol函数的参数只是表示对当前 Symbol 值的描述，因此相同参数的Symbol函数的返回值是不相等的。
            4、Symbol值不能与其他类型的值进行运算，会报错。但是，Symbol值可以显式转为字符串。另外，Symbol值也可以转为布尔值，但是不能转为数值。
            5、Symbol值作为对象属性名时，不能用点运算符。同理，在对象的内部，使用Symbol值定义属性时，Symbol值必须放在方括号之中。
        */
    </script>
</body>
</html>
