<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>vue router</title>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <table>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>gender</th>
            </tr>
            <my-row is="myrow"></my-row>
        </table> -->
        <my-row></my-row>
    </div>
    <script src="../../js/vue.min.js" charset="utf-8"></script>
    <script src="test01.js" charset="utf-8"></script>
</body>
</html>
