<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美化复选框单选框</title>
    <link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="beautifyForm.css">
</head>
<body>
	<!-- 美化单选框 -->
	<div class="container">
		<h1>美化单选框</h1>
		<div class="form-control clearfix">
			<div class="form-item">
				<label class="label-item label-radio">上<em class="iconfont"></em><input type="radio" name="direction" class="radio" value="up" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-radio">下<em class="iconfont"></em><input type="radio" name="direction" class="radio" value="down" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-radio">左<em class="iconfont"></em><input type="radio" name="direction" class="radio" value="left" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-radio">右<em class="iconfont"></em><input type="radio" name="direction" class="radio" value="right" /></label>
			</div>
		</div>
		<div class="form-control text-right">
			<button id="btn-radio" class="btn">确认</button>
		</div>
	</div>
	<!-- 美化复选框 -->
	<div class="container">
		<h1>美化复选框</h1>
		<div class="form-control clearfix">
			<div class="form-item">
				<label class="label-item label-checkbox">海棠<em class="iconfont"></em><input type="checkbox" name="flower" class="checkbox" value="海棠" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-checkbox">牡丹<em class="iconfont"></em><input type="checkbox" name="flower" class="checkbox" value="牡丹" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-checkbox">玫瑰<em class="iconfont"></em><input type="checkbox" name="flower" class="checkbox" value="玫瑰" /></label>
			</div>
			<div class="form-item">
				<label class="label-item label-checkbox">康乃馨<em class="iconfont"></em><input type="checkbox" name="flower" class="checkbox" value="康乃馨" /></label>
			</div>
		</div>
		<div class="form-control text-right">
			<button id="btn-checkbox" class="btn">确认</button>
		</div>
	</div>
	<script type="text/javascript" src="../../plugins/jQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="beautifyForm.js"></script>
</body>
</html>