<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
</head>
<body>
    <input type="radio" name="color" value="red-">red
    <input type="radio" name="color" value="blue-">blue
    <input type="radio" name="color" value="black-">black
    <input type="radio" name="color" value="yellow-">yellow
    <script>
        var radios = document.getElementsByName('color');
        console.log(radios);
        radios.forEach(function(radio){
            radio.addEventListener('change', function(e){
                console.log(this.value);
            });
        });
    </script>
</body>
</html>