<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title ng-bind="pageTitle"></title>
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="indexController">
    <div class="container" ui-view></div>
    <!-- 
        ui-view，嵌套视图
        路由上设置的first，second...内容将嵌套在ui-view所在的标签内
    -->
    <script src="js/common.js"></script>
    <script src="../../plugins/AngularJS/angular.min.js"></script>
    <script src="../../plugins/AngularJS/angular-ui-router.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>