/*first*/
.first {

}
.second {

}
.third {

}
.fourth {

}
.fifth {

}
.first-title,
.second-title,
.third-title,
.fourth-title,
.fifth-title, {
    font-size: 4rem;
    text-align: center;
}

/**/
.masker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.masker img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
}
