button {
	background: none;
	border: 1px solid #ccc;
	font-size: 18px;
	padding: 8px 16px;
	border-radius: 6px;
	cursor: pointer;
}
.draw {

}
.draw::before {
	content: '前面---';
}
.draw::after {
	content: '---后面';
}
.draw:before {
	content: '前面1---';
}
.draw:after {
	content: '---后面2';
}